 QMenu {
     background-color: #2b2b2b;
     color: white;
     padding: 5px;
     border: 1px solid #444;
 }

 QMenu::item {
     padding: 6px 30px 6px 30px;
     /* 上右下左 */
     margin: 2px 1px;
     background-color: transparent;
 }

 QMenu::item:selected {
     background-color: #5555aa;
 }

 QMenu::icon {
     padding-left: 10px;
     padding-right: 10px;
     width: 20px;
     height: 20px;
 }
