QPushButton[propertyName="min"] {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    padding: 0px;
}

QPushButton[propertyName="max"] {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    padding: 0px;
}

QPushButton[propertyName="min"]:hover {
    background-color: #DCDCDC;
}

QPushButton[propertyName="max"]:hover {
    background-color: #DCDCDC;
}

QPushButton[propertyName="min"]:pressed {
    background-color: #aca9a9;
}

QPushButton[propertyName="max"]:pressed {
    background-color: #aca9a9;
}

QPushButton[propertyName="close"] {
    border: none;
    border-radius: 0px;
    border-top-right-radius: 8px;
    background-color: transparent;
    padding: 0px;
}

QPushButton[propertyName="close"]:hover {
    background-color: #f52c2c;
}

QPushButton[propertyName="close"]:pressed {
    background-color: #f75d5d;
}
